.product-description {
  margin: 0 5px 5px 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 2.5px;
    height: 48px;
  }

  .product-name {
    font-weight: 600;
    line-height: 1.5;
    margin-right: 10px;

    @media only screen and (max-width: 768px) {
      font-weight: 500;
      line-height: 1;
    }
  }
}
