.product-list-container {
  max-width: 66%;
  overflow-x: hidden;

  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media only screen and (min-width: 1250px) {
    max-width: 75%;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}
