.product-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: auto 0 0 5px;

  .add-product-icon {
    padding: 5px;
  }
}
