.checkout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;

  span {
    font-weight: bold;
    margin-left: 10px;
  }

  .button {
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: grey;
    }
  }

  @media only screen and (max-width: 768px) {
    margin: 10px 10px 70px 10px;
  }
}
